include LICENSE
include README.md
recursive-include ratelimit9/static *
recursive-include ratelimit9/templates *
recursive-include ratelimit9/templatetags *
recursive-include ratelimit9/management *
recursive-include ratelimit9/fixtures *
recursive-include ratelimit9/resources *
global-exclude *pyc
global-exclude ~*
