include LICENSE
include README.md
recursive-include uecookie9/static *
recursive-include uecookie9/templates *
recursive-include uecookie9/templatetags *
recursive-include uecookie9/management *
recursive-include uecookie9/fixtures *
recursive-include uecookie9/resources *
global-exclude *pyc
global-exclude ~*
